<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="PageNoProvider" value="False"/>
    <add key="PageSizeProvider" value="False"/>
    <add key="SupplierRoleID" value="184"/>
    <add key="SupplierRoleID1" value="2167"/>
    <add key="Admin" value="0639,0340"/>
    <add key="BaaNLive" value="True"/>
    <add key="JoomlaLive" value="True"/>
    <add key ="Testing" value="False"/>
    <add key ="UpdateCT" value="False"/>
    <add key="RunLocally" value="False"/>
    <add key="IsLocalISGECVault" value="True" />
    <add key="ISGECVaultIP" value="perk01" />
    <add key="ChartImageHandler" value="storage=file;timeout=360;Dir=c:\inetpub\wwwroot\App_Temp\;"/>
  </appSettings>
  <connectionStrings>
    <remove name="AspNetDBConnection"/>
    <add name="AspNetDBConnection" connectionString="Data Source=perk03;Initial Catalog=IJTPerks;Integrated Security=False;User Instance=False;Persist Security Info=True;User ID=sa;Password=isgec12345" providerName="System.Data.SqlClient"/>
    <add name="-AspNetDBConnection" connectionString="Data Source=.\LGSQL;Initial Catalog=IJTPerks;Integrated Security=False;User Instance=False;Persist Security Info=True;User ID=sa;Password=isgec12345" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <codeSubDirectories>
        <add directoryName="STD"/>
        <add directoryName="QCM"/>
        <add directoryName="WF"/>
        <add directoryName="MAPP"/>
        <add directoryName="NT"/>
        <add directoryName="POW"/>
      </codeSubDirectories>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="bsLogin.aspx" protection="None" timeout="50"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AspNetDBConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="8" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="AspNetDBConnection" name="AspNetSqlRoleProvider" type="system.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <sessionState cookieless="UseDeviceProfile" timeout="60"/>
    <httpRuntime executionTimeout="14400" maxRequestLength="2147483647" requestLengthDiskThreshold="2147483647" />
    <customErrors mode="Off"/>
    <identity impersonate="false"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <globalization culture="en-GB" uiCulture="en-GB" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages styleSheetTheme="Default" maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="AJX" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="LGM" tagName="LoginLine" src="~/Sys_Controls/Login0.ascx"/>
        <add tagPrefix="LGM" tagName="LoginPage" src="~/Sys_Controls/Login1.ascx"/>
        <add tagPrefix="LGM" tagName="ChangePass" src="~/Sys_Controls/Login2.ascx"/>
        <add tagPrefix="LGM" tagName="ToolBar0" src="~/Sys_Controls/lgToolbar.ascx"/>
        <add tagPrefix="LGM" tagName="Informations" src="~/Sys_Controls/Controls/Informations.ascx"/>
        <add tagPrefix="LGM" tagName="LGLoading" src="~/Sys_Controls/lgLoading.ascx"/>
        <add tagPrefix="LGM" tagName="BSLoading" src="~/Sys_Controls/bsLoading.ascx"/>
        <add tagPrefix="LGM" tagName="LGMessage" src="~/Sys_Controls/lgMessage.ascx"/>
        <add tagPrefix="LGM" tagName="LGAlert" src="~/Sys_Controls/lgAlert.ascx"/>
        <add tagPrefix="LGM" tagName="LGAttachments" src="~/Sys_Controls/lgAttachments.ascx"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>

        <add tagPrefix="LGM" tagName="LC_powOfferStates" src="~/POW_Main/APP_FKControls/LC_powOfferStates.ascx" />
        <add tagPrefix="LGM" tagName="LC_powEnquiryStates" src="~/POW_Main/APP_FKControls/LC_powEnquiryStates.ascx" />
        <add tagPrefix="LGM" tagName="LC_powTSStates" src="~/POW_Main/APP_FKControls/LC_powTSStates.ascx" />
        <add tagPrefix="LGM" tagName="LC_powRecordTypes" src="~/POW_Main/APP_FKControls/LC_powRecordTypes.ascx" />
        <add tagPrefix="LGM" tagName="LC_powTSTypes" src="~/POW_Main/APP_FKControls/LC_powTSTypes.ascx" />

        <add tagPrefix="LGM" tagName="LC_powTechnicalSpecifications" src="~/POW_Main/APP_FKControls/LC_powTechnicalSpecifications.ascx" />
        <add tagPrefix="LGM" tagName="LC_powTSIndents" src="~/POW_Main/APP_FKControls/LC_powTSIndents.ascx" />
        <add tagPrefix="LGM" tagName="LC_powTSIndentDocuments" src="~/POW_Main/APP_FKControls/LC_powTSIndentDocuments.ascx" />
        <add tagPrefix="LGM" tagName="LC_powEnquiries" src="~/POW_Main/APP_FKControls/LC_powEnquiries.ascx" />
        <add tagPrefix="LGM" tagName="LC_powVendorEnquiries" src="~/POW_Main/APP_FKControls/LC_powVendorEnquiries.ascx" />

      </controls>
    </pages>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="leave@isgec.co.in">
        <network host="192.9.200.214" userName="leave" password="ijt123"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument>
      <files>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="2147483647" maxUrl="2147483647"   maxAllowedContentLength="2147483647"/>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebAuthorizationServiceSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/WebTools2/App_Services/WebAuthorizationService.asmx" binding="basicHttpBinding" bindingConfiguration="WebAuthorizationServiceSoap" contract="WebAuthorization.WebAuthorizationServiceSoap" name="WebAuthorizationServiceSoap"/>
    </client>
  </system.serviceModel>
</configuration>